.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden; /* Altura mínima para asegurar que se vea en pantallas grandes */
}

.about-me-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center; /* Centrar el título en pantallas pequeñas */
}

.about-me-content {
  text-align: justify; /* Justificar el texto para una apariencia más ordenada */
  max-width: 600px; /* Ancho máximo para el contenido para evitar líneas demasiado largas */
  margin: 0 auto; /* Centrar el contenido horizontalmente */
  line-height: 1.6; /* Mejora la legibilidad del texto */
}

/* Estilos para hácer la imagen responsiva */
.about-me-image {
  max-width: 100%;
  height: auto;
  display: block; /* Evita espacios en blanco debajo de la imagen */
  margin: 1rem auto; /* Centrar la imagen horizontalmente */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 400px) {
  .about-me-title {
    font-size: 1.5rem; /* Reduce el tamaño del título en pantallas pequeñas */
  }
}
