@import "tailwindcss";

/* Variante 1 */
:root {
  --component-background: #dafdba;
  --page-background: #45c4b0;
  --total-background: #e6f7d1;
  --letter-color: #015249;
  --border-color: #014f43;
  --hover-bg: #1d7061;
  --hover-text: #dafdba;
}

/* Variante 2 */
:root.variant-2 {
  --component-background: #fab4bf;
  --page-background: #f8ffb5;
  --total-background: #ffe4e6;
  --letter-color: #5b2c26;
  --border-color: #704a3c;
  --hover-bg: #dd7586;
  --hover-text: #fab4bf;
}

/* Variante 3 */
:root.variant-3 {
  --component-background: #ffb30d;
  --page-background: #085454;
  --total-background: #ffe8bb;
  --letter-color: #fbfafa;
  --border-color: #1b9aaa;
  --hover-bg: #1b9aaa;
  --hover-text: #085454;
}

/* Estilos globales */
* {
  font-family: "Poiret One", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
