/* styles/variables.css */

/* Variante 1 */
:root {
  --component-background-1: #dafdba;
  --page-background-1: #45c4b0;
  --letter-color-1: #13678a;
}

/* Variante 2 */
:root.variant-2 {
  --component-background-2: #fab4bf;
  --page-background-2: #f8ffb5;
  --letter-color-2: #13678a;
}

/* Variante 3 */
:root.variant-3 {
  --component-background-3: #ffb30d;
  --page-background-3: #085454;
  --letter-color-3: #ffffff;
}
