---
import DualLayout from "../layouts/DualLayout.astro";
---

<DualLayout pageName="About Me">
  <section class="grid grid-rows-[auto_1fr_auto] gap-8 w-full h-full flex-grow">
    <!-- CONTENT -->
    <div class="flex items-end justify-center pt-8">
      <p class="leading-relaxed text-center sm:text-justify text-base sm:text-lg lg:text-xl xl:text-2xl max-w-4xl">
        I'm a web programming student with a passion for music and computers. I
        have a professional background in the automotive industry as a painter
        and bodybuilder specialist. I've developed my skills in precision,
        patience, and attention to detail for over 10 years. Known for my humor
        and energetic personality. I look forward to collaborating with
        professionals who share my enthusiasm for growing in this industry like
        a mushroom.
      </p>
    </div>

    <!-- SUBCONTENT -->
    <div class="flex items-center justify-center">
      <span class="text-base sm:text-xl lg:text-2xl font-semibold text-center">
        Following the white rabbit, choosing the right Morpheus pill, and eating
        the Oracle cookie. (<strong>Hope you get the reference!</strong>)
      </span>
    </div>

    <!-- EMPTY SPACE -->
    <div class="pb-8"></div>
  </section>
</DualLayout>
