<section class="flex flex-col items-center w-full p-4 box-border overflow-hidden gap-4">
  <h1 class="text-3xl text-center sm:text-4xl"><strong>About Me</strong></h1>
  <div class="max-w-[90%] sm:max-w-xl lg:max-w-3xl mx-auto leading-relaxed text-center sm:text-justify">
    <p>
      I'm a programming student with a passion for music and computers. With a
      background in the automotive industry as a painter and bodybuilder
      specialist, I've honed my skills in precision, patience, and attention to
      detail over 10 years. Known for my humor and energy, I thrive on logic,
      equilibrium, and precision, which naturally led me to the world of
      programming.
    </p>
    <h2 class="mt-4 text-xl font-semibold text-center">
      Following the white rabbit, choosing the right Morpheus pill, and eating
      the Oracle cookie. (Hope you get the reference!)
    </h2>
  </div>
</section>