---
import DualLayout from "../layouts/DualLayout.astro";
---

<DualLayout pageName="About Me">
  <section
    class="flex flex-col items-start w-full h-screen
    sm:w-[90vw] sm:h-[90vh] lg:w-[85vw] lg:h-[85vh] xl:w-[80vw] xl:h-[80vh]
     p-4 box-border overflow-auto"
  >
    <!-- TITLE -->
    <div class="w-full mb-5 xl:pt-10 pt-20 xl:pb-10">
      <h1 class="text-6xl xl:text-6xl mb-0 whitespace-nowrap">
        <strong>About Me</strong>
      </h1>
    </div>
    <!-- CONTENT-->
    <div
      class="flex-grow flex justify-center w-full max-w-[90%]
     sm:max-w-xl lg:text-2xl mx-auto"
    >
      <p class="leading-relaxed text-center sm:text-justify">
        I'm a web programming student with a passion for music and computers. I
        have a professional background in the automotive industry as a painter
        and bodybuilder specialist. I've developed my skills in precision,
        patience, and attention to detail for over 10 years. Known for my humor
        and energetic personality. I look foward to colaborationg with
        professionals who share my enthusiasm for grow in this industry like a
        mushroom.
      </p>
    </div>
    <!--SUBCONTENT-->
    <div class="w-full text-left pb-15">
      <span class="text-xl font-semibold">
        Following the white rabbit, choosing the right Morpheus pill, and eating
        the Oracle cookie. (<strong>Hope you get the reference!</strong>)
      </span>
    </div>
  </section>
</DualLayout>
