---
import DualLayout from "../layouts/DualLayout.astro";
---

<DualLayout pageName="Contact">
  <section
    class="flex flex-col items-start w-full h-screen
    sm:w-[90vw] sm:h-[90vh] lg:w-[85vw] lg:h-[85vh] xl:w-[80vw] xl:h-[80vh]
     p-4 box-border overflow-auto"
  >
    <!-- TITLE -->
    <div class="w-full mb-5 xl:pt-10 xl:pb-10">
      <h1 class="text-6xl xl:text-6xl mb-0 whitespace-nowrap">
        <strong>Contact</strong>
      </h1>
    </div>
    <!-- CONTENT-->
    <div class="max-w-md mx-auto mb-4 lg:max-w-2xl">
      <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-10">
        <div>
          <p class="mb-2"><strong>Birthdate:</strong> October 31 - 1990</p>
          <p class="mb-2"><strong>Location:</strong> Spain</p>
          <p class="mb-2"><strong>Address:</strong> Orihuela - Alicante</p>
        </div>
        <div>
          <p class="mb-2"><strong>Email:</strong> Timurnator_@outlook.com</p>
          <p class="mb-2"><strong>Phone:</strong> +34 658 440 125</p>
          <p class="mb-2"><strong>Freelancer:</strong> Available</p>
        </div>
      </div>
    </div>
    <!--SUBCONTENT-->
    <div
      class="flex-grow flex items-center justify-center w-full max-w-[90%]
     sm:max-w-xl lg:max-w-3xl mx-auto pb-15"
    >
      <form class="w-full max-w-md mx-auto relative">
        <div class="mb-4">
          <label
            for="name"
            class="block text-[var(--letter-color)] font-bold mb-2"></label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Name..."
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[var(--letter-color)] leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="mb-4">
          <label
            for="email"
            class="block text-[var(--letter-color)] font-bold mb-2"></label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email..."
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[var(--letter-color)] leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="mb-4">
          <label
            for="project"
            class="block text-[var(--letter-color)] font-bold mb-2"></label>
          <input
            type="text"
            id="project"
            name="project"
            placeholder="The project is about..."
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[var(--letter-color)] leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="mb-4">
          <label
            for="budget"
            class="block text-[var(--letter-color)] font-bold mb-2"></label>
          <input
            type="text"
            id="budget"
            name="budget"
            placeholder="Budget..."
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[var(--letter-color)] leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="mb-6 relative">
          <label
            for="message"
            class="block text-[var(--letter-color)] font-bold mb-2"></label>
          <textarea
            id="message"
            name="message"
            rows="4"
            placeholder="Message..."
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[var(--letter-color)] leading-tight focus:outline-none focus:shadow-outline"
          ></textarea>
          <button
            type="submit"
            class="absolute bottom-2 right-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 12L3.269 15.13a2 2 0 11-3.465-2.62A48.068 48.068 0 0112 5.25c2.252 0 4.456.607 6.418 1.715a2 2 0 01-3.465 2.62L18 12m-6 0v7.5m-6 0v7.5"
              ></path>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </section>
</DualLayout>
