---
import DualLayout from "../layouts/DualLayout.astro";
---

<DualLayout pageName="Contact">
  <section class="flex flex-col items-center justify-center w-full h-screen px-4">
    <!-- CONTENT -->
    <div class="w-full max-w-md mx-auto lg:max-w-2xl flex flex-col items-center justify-center">
      <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-10 w-full">
        <div class="flex flex-col items-start justify-start">
          <p class="mb-1"><strong>Birthdate:</strong> October 31 - 1990</p>
          <p class="mb-1"><strong>Location:</strong> Spain</p>
          <p class="mb-1"><strong>Address:</strong> Orihuela - Alicante</p>
        </div>
        <div class="flex flex-col items-start justify-start">
          <p class="mb-1"><strong>Email:</strong> Timurnator_@outlook.com</p>
          <p class="mb-1"><strong>Phone:</strong> +34 658 440 125</p>
          <p class="mb-1"><strong>Freelancer:</strong> Available</p>
        </div>
      </div>
    </div>

    <!-- SUBCONTENT -->
    <div class="flex-grow flex items-center justify-center w-full py-6">
      <form class="w-full max-w-md mx-auto relative">
        <div class="mb-3">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Name..."
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[var(--letter-color)] leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="mb-3">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email..."
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[var(--letter-color)] leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            id="project"
            name="project"
            placeholder="The project is about..."
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[var(--letter-color)] leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            id="budget"
            name="budget"
            placeholder="Budget..."
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[var(--letter-color)] leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="relative">
          <textarea
            id="message"
            name="message"
            rows="4"
            placeholder="Message..."
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[var(--letter-color)] leading-tight focus:outline-none focus:shadow-outline"
          ></textarea>
          <button
            type="submit"
            class="absolute bottom-2 right-2 hover:bg-[var(--total-background)] text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline cursor-pointer"
          >
            <img
              src="../public/img/send-mail.png"
              alt="Enviar correo"
              class="w-6 h-6"
            />
          </button>
        </div>
      </form>
    </div>
  </section>
</DualLayout>
