---
import "../styles/IndexContent.css";
---

<section class="index">
  <main class="main">
    <div class="content-title">
      <h2 class="title">SOFTWARE SOLUTIONS</h2>
    </div>
    <div class="content-image">
      <img src="../public/img/gopnik.png" alt="Image" />
    </div>
    <div class="content-subtitle">
      <h2 class="subtitle">tasteless...</h2>
    </div>
  </main>
</section>
