<section class="flex flex-col justify-between w-full h-full min-h-0">

  <header class="flex items-center justify-center">
    <h1
      class="text-center font-bold whitespace-nowrap
      text-2xl laptop:text-5xl fhd:text-6xl qhd:text-7xl uhd:text-8xl
      tracking-[0.25em] laptop:tracking-[0.2em] "
    >
      <strong>SOFTWARE SOLUTIONS</strong>
    </h1>
  </header>

  <main class="flex flex-col items-center justify-center min-h-0 grow">
    <img
      id="theme-toggle"
      src="/img/gopnik.png"
      alt="Hero Image - Software Solutions"
      class="w-full h-auto object-contain pointer-events-auto
       max-w-xs mobile:max-w-sm tablet:max-w-md laptop:max-w-lg fhd:max-w-xl qhd:max-w-2xl uhd:max-w-3xl"
    />
  </main>

  <footer class="flex items-start justify-start">
    <h2
      class="text-left font-semibold
      text-1xl mobile:text-lg tablet:text-xl laptop:text-2xl fhd:text-3xl qhd:text-4xl uhd:text-5xl
      tracking-[0.5em] laptop:tracking-widest fhd:tracking-[0.2em] qhd:tracking-[0.3em] uhd:tracking-[0.4em] 
      whitespace-nowrap"
    >
      tasteless...
    </h2>
  </footer>
</section>