---
import "../styles/IndexContent.css";
---

<section class="index-content">
  <main class="index-main">
    <div class="index-content-title">
      <h2 class="index-title">SOFTWARE SOLUTIONS</h2>
    </div>
    <div class="index-content-image">
      <img src="../public/img/gopnik.png" alt="Image" />
    </div>
    <div class="index-content-subtitle">
      <h2 class="index-subtitle">tasteless...</h2>
    </div>
  </main>
</section>
