<section
  class="flex flex-col items-center w-full h-full xl:w-[80vw] xl:h-[80vh] p-4 overflow-hidden"
>
  <div class="text-center mt-3">
    <h1
      class="mb-12 xl:mb-4 text-center text-2xl sm:text-4xl tracking-[0.3rem] whitespace-nowrap"
    >
      <strong>SOFTWARE SOLUTIONS</strong>
    </h1>
  </div>
  <div
    class="sm:mb-3 w-full max-w-xl mx-auto flex flex-col justify-between h-full"
  >
    <div class="flex justify-center w-full">
      <img
        id="theme-toggle"
        src="/img/gopnik.png"
        alt="Image"
        class="w-full h-auto cursor-pointer xl:w-100"
      />
    </div>
    <div class="mt-24 sm:mt-12 lg:mt-8 xl:mt-4 w-full">
      <h1 class="text-base mb-2 text-left sm:text-4xl tracking-[0.7rem]">
        tasteless...
      </h1>
    </div>
  </div>
</section>

<script src="/js/theme-toggle.js" defer></script>
