---

---

<a href="/" class="no-underline">
  <div class="flex flex-col items-center border border-black w-full">
    <h1 class="text-[#012030] text-[2.1rem] mb-0 tracking-[0.3em] mt-2 whitespace-nowrap">
      TIMUR BOGACH
    </h1>
    <p class="text-[#012030] mt-[-0.2rem] text-base mb-2">
      full stack developer
    </p>
  </div>
</a>
