<a href="/" class="no-underline">
  <div
    class="flex w-full xl:h-20 xl:w-100 bg-[var(--component-background)]
     border border-[var(--border-color)] shadow-lg text-center flex-col items-center
     xl:relative xl:-left-6 xl:max-w-xs xl:mt-30 transition-all"
  >
    <h1
      class="text-[var(--letter-color)] text-[2.1rem] xl:text-[1.5rem] mb-0 tracking-[0.3em] mt-2"
    >
      TIMUR BOGACH
    </h1>
    <p
      class="text-[var(--letter-color)] mt-[-0.2rem] text-base xl:text-lg mb-2"
    >
      full stack developer
    </p>
  </div>
</a>
