---
import "../styles/Name.css";
---

<a href="/" class="name-link">
  <div class="title-content-container">
    <h1 class="title">TIMUR BOGACH</h1>
    <p class="subtitle">full stack developer</p>
  </div>
</a>
