<a href="/" class="no-underline">
  <div
    class="border border-black xl:h-20 flex flex-col items-center w-full bg-[var(--component-background-1)] xl:relative xl:-left-6 xl:max-w-xs xl:mt-10"
  >
    <h1
      class="text-[#012030] text-[2.1rem] xl:text-[1.7rem] mb-0 tracking-[0.3em] mt-2"
    >
      TIMUR BOGACH
    </h1>
    <p class="text-[#012030] mt-[-0.2rem] text-base xl:text-sm mb-2">
      full stack developer
    </p>
  </div>
</a>

<!-- xl:mt-10 -->