---
import "../styles/Name.css";
---

<a href="/" class="name-link">
  <div class="name-title-content">
    <h1 class="name-title">TIMUR BOGACH</h1>
    <p class="name-subtitle">full stack developer</p>
  </div>
</a>
