<a href="/" class="no-underline">
  <div
    class="flex w-full xl:h-20 xl:w-100 bg-[var(--component-background)]
     border border-[var(--border-color)] shadow-lg text-center
     xl:max-w-xs xl:-mr-6 xl:mt-25 transition-all"
  >
    <a
      href="/about"
      class="justify-center flex flex-col items-center gap-2 p-3 border-r border-[var(--border-color)] text-[var(--letter-color)] text-[0.8rem] xl:text-[0.7rem] flex-1 transition-all duration-300 ease-in-out hover:bg-[var(--hover-bg)] hover:text-[var(--hover-text)] hover:border-[var(--hover-text)]"
    >
      <img src="../../public/img/about.png" alt="About Icon" class="w-8 h-8" />
      ABOUT
    </a>
    <a
      href="/resume"
      class="justify-center flex flex-col items-center gap-2 p-3 border-r border-[var(--border-color)] text-[var(--letter-color)] text-[0.8rem] xl:text-[0.7rem] flex-1 transition-all duration-300 ease-in-out hover:bg-[var(--hover-bg)] hover:text-[var(--hover-text)] hover:border-[var(--hover-text)]"
    >
      <img
        src="../../public/img/resume.png"
        alt="Resume Icon"
        class="w-8 h-8"
      />
      RESUME
    </a>
    <a
      href="/projects"
      class="justify-center flex flex-col items-center gap-2 p-3 border-r border-[var(--border-color)] text-[var(--letter-color)] text-[0.8rem] xl:text-[0.7rem] flex-1 transition-all duration-300 ease-in-out hover:bg-[var(--hover-bg)] hover:text-[var(--hover-text)] hover:border-[var(--hover-text)]"
    >
      <img
        src="../../public/img/projects.png"
        alt="Projects Icon"
        class="w-8 h-8"
      />
      PROJECTS
    </a>
    <a
      href="/contact"
      class="justify-center flex flex-col items-center gap-2 p-3 text-[var(--letter-color)] text-[0.8rem] xl:text-[0.7rem] flex-1 transition-all duration-300 ease-in-out hover:bg-[var(--hover-bg)] hover:text-[var(--hover-text)] hover:border-[var(--hover-text)]"
    >
      <img
        src="../../public/img/contact.png"
        alt="Contact Icon"
        class="w-8 h-8"
      />
      CONTACT
    </a>
  </div>
</a>
