---
import "../styles/Navigation.css";

---

<div class="nav-links">
  <a href="/about">
    <img src="../../public/img/about.png" alt="About Icon" class="nav-icon" />
    ABOUT
</a>
<a href="/resume">
    <img src="../../public/img/resume.png" alt="Resume Icon" class="nav-icon" />
    RESUME
</a>
<a href="/projects">
    <img src="../../public/img/projects.png" alt="Projects Icon" class="nav-icon" />
    PROJECTS
</a>
<a href="/contact">
    <img src="../../public/img/contact.png" alt="Contact Icon" class="nav-icon" />
    CONTACT
</a>
</div>
