---

---

<div class="flex w-full">
    <a href="/about" class="flex flex-col items-center gap-2 p-3 border border-black text-[#012030] text-[0.8rem] flex-1 transition-all duration-300 ease-in-out hover:bg-[var(--secondary-color)] hover:text-[var(--component-background-1)] hover:border-[var(--component-background-1)]">
      <img src="../../public/img/about.png" alt="About Icon" class="w-8 h-8" />
      ABOUT
    </a>
    <a href="/resume" class="flex flex-col items-center gap-2 p-3 border border-black text-[#012030] text-[0.8rem] flex-1 transition-all duration-300 ease-in-out hover:bg-[var(--secondary-color)] hover:text-[var(--component-background-1)] hover:border-[var(--component-background-1)]">
      <img src="../../public/img/resume.png" alt="Resume Icon" class="w-8 h-8" />
      RESUME
    </a>
    <a href="/projects" class="flex flex-col items-center gap-2 p-3 border border-black text-[#012030] text-[0.8rem] flex-1 transition-all duration-300 ease-in-out hover:bg-[var(--secondary-color)] hover:text-[var(--component-background-1)] hover:border-[var(--component-background-1)]">
      <img src="../../public/img/projects.png" alt="Projects Icon" class="w-8 h-8" />
      PROJECTS
    </a>
    <a href="/contact" class="flex flex-col items-center gap-2 p-3 border border-black text-[#012030] text-[0.8rem] flex-1 transition-all duration-300 ease-in-out hover:bg-[var(--secondary-color)] hover:text-[var(--component-background-1)] hover:border-[var(--component-background-1)]">
      <img src="../../public/img/contact.png" alt="Contact Icon" class="w-8 h-8" />
      CONTACT
    </a>
  </div>
  
