---
import ProjectCard from "../components/ProjectCard.astro";
const projects = await Astro.glob("../content/projects.md");
import DualLayout from "../layouts/DualLayout.astro";
---

<DualLayout pageName="Projects">
  <section >
    <!-- CONTENT -->
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full max-w-3xl mx-auto text-gray-700 flex-grow min-h-0"
    >
      {
        projects[0].frontmatter.projects.map((project: any) => (
          <ProjectCard {...project} />
        ))
      }
    </div>
  </section>
</DualLayout>

