---
import DualLayout from "../layouts/DualLayout.astro";
---

<DualLayout pageName="Resume">
  <section class="w-full">
    <!-- CONTENT -->
    <div class="flex-grow flex items-center justify-center w-full">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[1.5rem] md:gap-[2rem] w-full">
        <!-- Primera columna -->
        <div class="flex flex-col items-center justify-start mb-[1.5rem] lg:items-start lg:mb-0">
          <h2 class="text-xl sm:text-2xl font-semibold mb-[1rem]">Programming</h2>
          <ul class="list-none p-0">
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fab fa-html5 text-orange-500 mr-[0.5rem]"></i> HTML
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fab fa-css3-alt text-blue-500 mr-[0.5rem]"></i> CSS
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fab fa-sass text-pink-500 mr-[0.5rem]"></i> SCSS
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fab fa-java text-red-500 mr-[0.5rem]"></i> Java
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fab fa-js text-yellow-500 mr-[0.5rem]"></i> JavaScript
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fab fa-js-square text-yellow-500 mr-[0.5rem]"></i> TypeScript
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fas fa-database text-gray-500 mr-[0.5rem]"></i> MySQL
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fab fa-php text-indigo-500 mr-[0.5rem]"></i> PHP
            </li>
          </ul>
        </div>

        <!-- Segunda columna -->
        <div class="flex flex-col items-center justify-start mb-[1.5rem] lg:items-start lg:mb-0">
          <h2 class="text-xl sm:text-2xl font-semibold mb-[1rem]">Frameworks & Technologies</h2>
          <ul class="list-none p-0">
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fas fa-code-branch text-green-500 mr-[0.5rem]"></i> Git
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fab fa-laravel text-red-600 mr-[0.5rem]"></i> Laravel
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fab fa-angular text-red-700 mr-[0.5rem]"></i> Angular
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fas fa-pencil-ruler text-blue-600 mr-[0.5rem]"></i> Tailwind
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fab fa-galactic-republic text-purple-600 mr-[0.5rem]"></i> Astro
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fas fa-server text-gray-700 mr-[0.5rem]"></i> VM
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fab fa-windows text-blue-700 mr-[0.5rem]"></i> Windows
            </li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">
              <i class="fab fa-linux text-orange-600 mr-[0.5rem]"></i> Linux
            </li>
          </ul>
        </div>

        <!-- Tercera columna -->
        <div class="flex flex-col items-center justify-start mb-[1.5rem] lg:items-start lg:mb-0">
          <h2 class="text-xl sm:text-2xl font-semibold mb-[1rem]">Languages</h2>
          <ul class="list-none p-0">
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">🇷🇺 Russian</li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">🇺🇦 Ukrainian</li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">🇪🇸 Spanish</li>
            <li class="mb-[0.5rem] text-base sm:text-lg flex items-center">🇬🇧 English</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</DualLayout>
