<div
  class="flex flex-row items-center justify-center text-center w-full h-full bg-[var(--component-background)] border border-[var(--border-color)] shadow-none rounded-none my-0 mx-0 md:shadow-lg transition-all duration-300 ease-in-out"
>
  <a
    href="https://www.facebook.com/Timurnator/"
    class="
      flex flex-col items-center justify-center text-center
      h-full flex-1
      text-[var(--letter-color)]
      gap-[0.5rem] p-[0.75rem]
      transition-all duration-300 ease-in-out
      hover:bg-[var(--hover-bg)] hover:text-[var(--hover-text)]
    "
  >
    <img
      src="/img/facebook.png"
      alt="Facebook Icon"
      class="
        w-[1.5rem] h-[1.5rem]
        sm:w-[1.7rem] sm:h-[1.7rem]
        md:w-[2rem] md:h-[2rem]
        lg:w-[2.2rem] lg:h-[2.2rem]
        xl:w-[2.4rem] xl:h-[2.4rem]
        2xl:w-[2.8rem] 2xl:h-[2.8rem]
      "
    />
  </a>
  
  <a
    href="https://www.instagram.com/timurnator_/"
    class="
      flex flex-col items-center justify-center text-center
      h-full flex-1
      text-[var(--letter-color)]
      gap-[0.5rem] p-[0.75rem]
      transition-all duration-300 ease-in-out
      hover:bg-[var(--hover-bg)] hover:text-[var(--hover-text)]
    "
  >
    <img
      src="/img/instagram.png"
      alt="Instagram Icon"
      class="
        w-[1.5rem] h-[1.5rem]
        sm:w-[1.7rem] sm:h-[1.7rem]
        md:w-[2rem] md:h-[2rem]
        lg:w-[2.2rem] lg:h-[2.2rem]
        xl:w-[2.4rem] xl:h-[2.4rem]
        2xl:w-[2.8rem] 2xl:h-[2.8rem]
      "
    />
  </a>
  
  <a
    href="https://github.com/TimurTwerKing"
    class="
      flex flex-col items-center justify-center text-center
      h-full flex-1
      text-[var(--letter-color)]
      gap-[0.5rem] p-[0.75rem]
      transition-all duration-300 ease-in-out
      hover:bg-[var(--hover-bg)] hover:text-[var(--hover-text)]
    "
  >
    <img
      src="/img/github.png"
      alt="GitHub Icon"
      class="
        w-[1.5rem] h-[1.5rem]
        sm:w-[1.7rem] sm:h-[1.7rem]
        md:w-[2rem] md:h-[2rem]
        lg:w-[2.2rem] lg:h-[2.2rem]
        xl:w-[2.4rem] xl:h-[2.4rem]
        2xl:w-[2.8rem] 2xl:h-[2.8rem]
      "
    />
  </a>
  
  <a
    href="https://www.linkedin.com/in/timur-bogach-51939324a/"
    class="
      flex flex-col items-center justify-center text-center
      h-full flex-1
      text-[var(--letter-color)]
      gap-[0.5rem] p-[0.75rem]
      transition-all duration-300 ease-in-out
      hover:bg-[var(--hover-bg)] hover:text-[var(--hover-text)]
    "
  >
    <img
      src="/img/linkedin.png"
      alt="LinkedIn Icon"
      class="
        w-[1.5rem] h-[1.5rem]
        sm:w-[1.7rem] sm:h-[1.7rem]
        md:w-[2rem] md:h-[2rem]
        lg:w-[2.2rem] lg:h-[2.2rem]
        xl:w-[2.4rem] xl:h-[2.4rem]
        2xl:w-[2.8rem] 2xl:h-[2.8rem]
      "
    />
  </a>
  
  <a
    href="https://x.com/BogachTimur"
    class="
      flex flex-col items-center justify-center text-center
      h-full flex-1
      text-[var(--letter-color)]
      gap-[0.5rem] p-[0.75rem]
      transition-all duration-300 ease-in-out
      hover:bg-[var(--hover-bg)] hover:text-[var(--hover-text)]
    "
  >
    <img
      src="/img/twitter.png"
      alt="Twitter Icon"
      class="
        w-[1.5rem] h-[1.5rem]
        sm:w-[1.7rem] sm:h-[1.7rem]
        md:w-[2rem] md:h-[2rem]
        lg:w-[2.2rem] lg:h-[2.2rem]
        xl:w-[2.4rem] xl:h-[2.4rem]
        2xl:w-[2.8rem] 2xl:h-[2.8rem]
      "
    />
  </a>
</div>
