---
import "../styles/SocialMedia.css";
---

<div class="social-links">
  <a href="https://www.facebook.com/Timurnator/">
    <img src="../../public/img/facebook.png" alt="facebook Icon" class="social-icon" />
</a>
<a href="https://www.instagram.com/timurnator_/"> 
    <img src="../../public/img/instagram.png" alt="instagram Icon" class="social-icon" />
</a>
<a href="https://github.com/TimurTwerKing"> 
    <img src="../../public/img/github.png" alt="GitHub Icon" class="social-icon" />
    
</a>
<a href="https://www.linkedin.com/in/timur-bogach-51939324a/"> 
    <img src="../../public/img/linkedin.png" alt="LinkEdin Icon" class="social-icon" />
</a>
<a href="https://x.com/BogachTimur"> 
    <img src="../../public/img/twitter.png" alt="Twitter Icon" class="social-icon" />
</a>
</div>