---
import Index from "../components/IndexContent.astro";
const { pageName } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>{pageName}</title>
  </head>

  <body
    data-page={pageName.toLowerCase()}
    class="min-h-screen flex flex-col lg:pl-10 lg:pr-10 lg:pt-5 lg:pb-5"
  >
    <div class="flex flex-col xl:flex-row w-full h-full flex-grow">
      <!-- SECCIÓN IZQUIERDA -->
      <div
        class="hidden xl:flex xl:w-1/2 lg:mt-15 p-5 text-[var(--letter-color)]
              items-center justify-center"
      >
        <Index />
      </div>

      <!-- SECCIÓN DERECHA -->
      <div
        class="w-full xl:w-1/2 lg:mt-5 lg:p-5 justify-center
              flex flex-col flex-grow"
      >
        <div
          class="flex justify-center w-full max-w-[90%] 
          sm:max-w-xl text-lg lg:text-2xl mx-auto mt-5 sm:mt-0 mb-5"
        >
          <div class="w-full xl:pt-5 xl:pb-5">
            <h1 class="text-6xl lg:text-5xl whitespace-nowrap">
              <strong>{pageName}</strong><!-- TITLE -->
            </h1>
          </div>
        </div>

        <!-- SLOT CONTENT -->
        <div
          class="w-full flex-grow flex flex-col overflow-y-auto max-h-[75vh]
        min-h-0 pb-35 lg:pb-0 lg:mb-5"
        >
          <slot />
        </div>
      </div>
    </div>

    <script src="/js/theme-toggle.js" defer></script>
  </body>
</html>
