---
import "../styles/global.css";
import Header from "../components/HeaderContent.astro";
import Footer from "../components/FooterContent.astro";

const { pageName } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script>
      (function () {
        try {
          const themes = ["variant-1", "variant-2", "variant-3"];
          const savedTheme = localStorage.getItem("theme") || "";
          document.documentElement.classList.add(
            themes.includes(savedTheme) ? savedTheme : "variant-1",
          );
        } catch (e) {}
      })();
    </script>

    <script src="/js/theme-init.js" is:inline></script>
    <script src="/js/theme-toggle.js" defer></script>

    <link
      href="https://fonts.googleapis.com/css?family=Poiret+One"
      rel="stylesheet"
    />

    <title>{pageName}</title>
  </head>

  <body
    class="min-h-screen min-w-screen bg-[var(--total-background)] text-[var(--letter-color)] relative overflow-hidden"
  >
    <!-- Header overlay arriba -->
    <header class="absolute top-0 left-0 w-full z-20 pointer-events-auto">
      <Header />
    </header>

    <!-- Main centrado y expandido -->
    <main
      class="absolute inset-0 flex items-center justify-center z-10
    sm:px-[6rem] sm:py-[6rem]"
    >
      <div
        class="w-full h-full box-border bg-[var(--page-background)] border border-[var(--border-color)] shadow flex items-center justify-center overflow-auto"
      >
        <slot />
      </div>
    </main>

    <!-- Footer overlay abajo -->
    <footer class="absolute bottom-0 left-0 w-full z-20 pointer-events-auto">
      <Footer />
    </footer>
  </body>
</html>
